.classpath
.mvn
.settings/
.project
.tern-project
.idea/
.scannerwork
.springBeans
.transformations
out/
.gradle
build/
target/
.classpath
./settings/
.project
data/
/bin/
*/bin/
/.metadata/
*.DS_Store
